body{
    background-color: rgb(190, 225, 248);
}
.introduction{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 20px;

}
.rulsTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 30px;    
    margin-left: 30px;
}
.ruls{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 70px;
}
button{
    border-radius: 10%;
    background-color: rgb(159, 211, 193);
    cursor: pointer;
    margin: 4px 2px;
    margin-left: 90px;
    margin-top: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
}
.answer{
    padding: 50px 20px;
    max-width: 500px;
    margin-inline: auto;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.animetion{
    padding: 50px 20px;
    background:url(dice.gif);
    background-size: 100px;
}
.clear{
    display: block;
    margin:  30px auto 0 auto;
    
}
.preAnswer{
    text-align: center;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
